html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.container-fluid {
  font-family: Titillium;
  padding: 0px;
}
#top {
  background-image: url("assets/sunset.jpg");
  height: 800px;
  width: 100%;
  color: rgb(241, 203, 146);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#navBar {
  padding-top: 80px;
  right: 40px;
  font-size: 20px;
}
#nameBlock {
  padding-top: 170px;
}
#name {
  font-size: 40px;
}

#home:hover {
  color: rgb(245, 242, 238);
}

#resume:hover {
  color: rgb(238, 222, 198);
}

#portfolio:hover {
  color: rgb(236, 223, 185);
}

#headline {
  width: 40%;
  margin: 0px auto;
  margin-top: 1%;
}

#about {
  color: rgb(241, 203, 146);
  margin-top: 100px;
  background-color: rgb(82, 4, 54);
  padding: 50px;
  text-align: center;
  /* width: 70%; */
  margin: 0px auto;
}
#image {
  height: 180px;
  width: 250px;
  border-radius: 50%;
}
#footer {
  height: 18vh;
  width: 100%;
  background-color: rgb(237, 84, 43);
}
#footerWrapper {
  text-align: center;
}
#linkedIn,
#gitHub {
  height: 60px;
  width: 60px;
  margin: 1%;
}
#headline {
  margin-bottom: 10%;
}
#whatICanDo {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10%;
}
.headlines {
  font-size: 30px;
  color: rgb(237, 84, 43);
}
#whatICanDoImage {
  width: 250px;
  height: 160px;
}
.imageWrapper {
  padding-right: 100%;
}
.bodies {
  margin: 0px auto;
  padding-bottom: 15%;
}
#aboutSummary {
  margin-bottom: 10%;
}

@font-face {
  font-family: Titillium;
  src: url(assets/TitilliumWeb-Light.ttf);
}

.btn-primary {
  background-color: rgb(245, 242, 238);
  color: rgb(82, 4, 54);
}

/* Resume Page */

#resumeTop {
  background: rgb(82, 4, 54);
  color: rgb(241, 203, 146);
}
#resumeContent {
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10%;
}
.navBarNotHome {
  padding-top: 80px;
  right: 40px;
  font-size: 20px;
  background-color: rgb(237, 84, 43);
}
#nameBlockResume {
  padding-top: 5%;
}
/* Portfolio Page */
#portfolioTop {
  background: rgb(82, 4, 54);
  color: rgb(241, 203, 146);
}
#portfolioContent {
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10%;
  width: 100%;
}
.portName {
  color: rgb(237, 84, 43);
  font-size: x-large;
}
